// -------------------------------------------------
//
// Animation Sheet
// 
// -------------------------------------------------

@include keyframes(flash){
	0%{
		opacity: 1;
	}
	11%{
		opacity: 0
	}
	27%{
		opacity: 1;
	}
	48%{
		opacity: 1;
	}
	54%{
		opacity: 0
	}
	78%{
		opacity: 1;
	}
	93%{
		opacity: 0
	}
	100%{
		opacity: 1;
	}
}