// -------------------------------------------------
//
// Base
// 
// -------------------------------------------------

*{
    box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}

html{
	margin: 0;
	padding: 0;
}