// -------------------------------------------------
//
// Base Module
// 
// -------------------------------------------------

.container--scroll{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	background: $black;
	.column{
		width: 50%;
		overflow: hidden;
		min-height: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		@include perspective(100px);

		.column--inner{
			@include backface-visibility(hidden);
			position: relative;
		}
		
		&.left{
			float: left;
			background: $black;
			color: $white;
			@include transform(rotateY(10deg));
			@include uppercase();
			h1{
				text-shadow: 1px 1px 5px black;
			}
			&:after{
				content: '';
				clear: both;
				width: 100%;
				height: 0;
				display: block;
			}
		}
		&.right{
			float: right;
			background: $black;
			font-style: italic;
			&:after{
				content: '';
				clear: both;
				width: 100%;
				height: 0;
				display: block;
			}
		}


		.item{
			position: relative;
			width: 100%;
			height: 100vh;
			@include display(flex);
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			margin: 0;
			font-size: 3em;
			color: white;
		}
	}
}