doctype html
//
    ██▀███  ▓█████▄   ██████      ▒███████▒ ▒█████   ███▄    █ ▓█████ 
    ▓██ ▒ ██▒▒██▀ ██▌▒██    ▒      ▒ ▒ ▒ ▄▀░▒██▒  ██▒ ██ ▀█   █ ▓█   ▀ 
    ▓██ ░▄█ ▒░██   █▌░ ▓██▄        ░ ▒ ▄▀▒░ ▒██░  ██▒▓██  ▀█ ██▒▒███   
    ▒██▀▀█▄  ░▓█▄   ▌  ▒   ██▒       ▄▀▒   ░▒██   ██░▓██▒  ▐▌██▒▒▓█  ▄ 
    ░██▓ ▒██▒░▒████▓ ▒██████▒▒ ██▓ ▒███████▒░ ████▓▒░▒██░   ▓██░░▒████▒
    ░ ▒▓ ░▒▓░ ▒▒▓  ▒ ▒ ▒▓▒ ▒ ░ ▒▓▒ ░▒▒ ▓░▒░▒░ ▒░▒░▒░ ░ ▒░   ▒ ▒ ░░ ▒░ ░
    ░▒ ░ ▒░ ░ ▒  ▒ ░ ░▒  ░ ░ ░▒  ░░▒ ▒ ░ ▒  ░ ▒ ▒░ ░ ░░   ░ ▒░ ░ ░  ░
    ░░   ░  ░ ░  ░ ░  ░  ░   ░   ░ ░ ░ ░ ░░ ░ ░ ▒     ░   ░ ░    ░   
    ░        ░          ░    ░    ░ ░        ░ ░           ░    ░  
    RDS.Zone Official Websites

html.no-js
    head
        meta(charset="utf-8")
        meta(name="fragment", content="!")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        title What's Good? | Red Bull Music Academy

        meta(name="description", content="xxxxx")
        base(href="/")
        meta(name="robots", content="index,follow")


        //-Twitter
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@rbma")
        meta(name="twitter:title", content="xxxxxx")
        meta(name="twitter:description", content="xxxxxxx")
        meta(name="twitter:url", content="xxxxx")
        meta(name="twitter:creator", content="@rbma")
        meta(name="twitter:image:src", content="xxxxx")


        //- Facebook
        meta(property="og:title", content="xxxxx")
        meta(property="og:type", content="website")
        meta(property="og:url", content="xxxxx")
        meta(property="og:image", content="xxxxx")
        meta(property="og:description", content="xxxxx")
        meta(property="og:site_name", content="Red Bull Music Academy")
        meta(property="fb:admins", content="100006789941377")

        //- Google
        link(rel="author", href="https://plus.google.com/+RBMA/posts")
        link(rel="publisher", href="https://plus.google.com/+RBMA")




        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        link(rel="stylesheet", href="css/main.css")

        
        




    body

        
        .container#mount

        script(type="text/javascript", src="js/bundle.js")
